[{{ item.key}} ]
user = {{ item.value.user }}
group = {{ item.value.group | default(item.value.user) }}
listen = {{ item.value.socket | default('/var/run/php' + php_version + '-fpm-' + item.key + '.sock') }}
listen.owner = {{ item.value.listen_owner | default('www-data') }}
listen.group = {{ item.value.listen_group | default('www-data') }}
env[PATH] = /usr/local/bin:/usr/bin:/bin
php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_flag[allow_url_fopen] = off
pm = dynamic
pm.max_children = {{ item.value.max_children | default(5) }}
pm.start_servers = {{ item.value.servers | default(2) }}
pm.min_spare_servers = {{ item.value.min_spare_servers | default(1) }}
pm.max_spare_servers = {{ item.value.max_spare_servers | default(3) }}
request_terminate_timeout = {{ item.value.request_terminate_timeout | default(300) }}
chdir = {{ item.value.working_dir | default('/tmp') }}
